---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gray-900 text-gray-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<main class="container mx-auto px-4 py-8 max-w-4xl">
			<h1 class="text-4xl font-bold mb-8 text-center">{title}</h1>
			<slot />
		</main>
	</body>
</html>