---
import MainLayout from '../layouts/MainLayout.astro';
import ImageSection from '../components/ImageSection.astro';

const title = "satori-astro API examples";
---

<MainLayout title={title}>
	<div class="space-y-8">
		<ImageSection 
			title="Test toImage" 
			imageSrc="/test-to-image.png" 
			altText="Test to Image" 
		/>
		<ImageSection 
			title="Test toResponse" 
			imageSrc="/test-to-response.png" 
			altText="Test to Response" 
		/>
		<ImageSection 
			title="Test toSVG" 
			imageSrc="/test-to-svg.svg" 
			altText="Test to SVG" 
		/>
	</div>
</MainLayout>